<!-- reset-password.page.html -->
<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/img/pnglogo.png" alt="img_logo" class="img_logo"/>
    <ion-card-header>
      <ion-card-title>Recuperar Contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input placeholder="ingrese contraseña" type="password" [(ngModel)]="newPassword" name="newPassword"></ion-input>
        </ion-item>
        <br>
        <ion-button expand="block" type="submit">Reset Password</ion-button>
        <ion-button expand="block" type="button" (click)="volverLogin()">Volver al login</ion-button>
      </form>
    </ion-card-content>
  
    
  </ion-card>
  
</ion-content>