



<ion-content [fullscreen]="true">
  
  <!-- MAPA -->
  <div id="map"></div>
<ion-card>
  <h3>¿A dónde vamos, ?</h3>
  <ion-card-content>
    <form (ngSubmit)="saveTrip()" >
      <ion-item >
        <ion-label>Punto inicial: Duoc UC Plaza Oeste</ion-label> <!-- DIRECCIÓN ORIGEN -->
      </ion-item>
      <ion-item>
        <ion-label slot="start" >¿A dónde vas?</ion-label> <!-- DIRECCIÓN SALIDA -->
        <input id="autocomplete" type="text" placeholder="Ingresa una dirección">
      </ion-item>
      <ion-item>
        <ion-label slot="start">Total viaje</ion-label> <!-- VALOR DEL VIAJE -->
        <ion-input type="number" [(ngModel)]="trip.price" name="price" placeholder="Ingrese un valor, mínimo 1000" ></ion-input>
      </ion-item>
      <ion-button (click)="addMarker()">CALCULAR RUTA</ion-button>
      <ion-button type="submit">CREAR VIAJE</ion-button>
    </form>
  </ion-card-content>
  <ion-card-content>
    
    <ion-button (click)="volverInicio()" >CANCELAR</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>