<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Maps</ion-title>
    <ion-button slot="start" color="secondary">
      <ion-back-button>Atras</ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <!-- MAPA -->
    <div id="map"></div>
  <ion-card>
    <h3>¿A dónde vamos, ?</h3>
    <ion-card-content>
      <form >
        <ion-item >
          <ion-label>Punto inicial: Duoc UC Plaza Oeste</ion-label> <!-- DIRECCIÓN ORIGEN -->
        </ion-item>
        <ion-item>
          <ion-label slot="start" >¿A dónde vas?</ion-label> <!-- DIRECCIÓN SALIDA -->
          <input  placeholder="Ingrese dirección" id="autocomplete" >
        </ion-item>
        <ion-item>
          <ion-label slot="start">Total viaje</ion-label> <!-- VALOR DEL VIAJE -->
          <ion-input placeholder="Ingrese un valor, mínimo 1000" >$</ion-input>
        </ion-item>
        <ion-button (click)="addMarker()">CALCULAR RUTA</ion-button>
      </form>
    </ion-card-content>
    <ion-card-content>
      <ion-button >CREAR VIAJE</ion-button>
      <ion-button >CANCELAR</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>