<div class="fondo">
  <ion-content >
    
      <ion-card>
        <img src="assets/img/pnglogo.png" alt="img_logo" class="img_logo"/>
        <ion-card-header>
          <ion-card-subtitle >¿Preparado para viajar?</ion-card-subtitle>
          <ion-card-title>¡Ingresa a tu cuenta!</ion-card-title>
        </ion-card-header>
        <ion-card-content >
          <form [formGroup]="formularioLogin">
                <ion-item>
                  <ion-label position="floating">Correo</ion-label>
                  <ion-input placeholder="ingrese correo" formControlName="correo" type="email" ></ion-input>
                </ion-item>
              
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input placeholder="ingrese contraseña" formControlName="contraseña" type="password" ></ion-input>
                </ion-item>
                <br>
                <ion-button expand="block" (click)="ingresar()">Ingresar</ion-button>
            
          </form>
         <div id="cardFooter">
          <ion-card-subtitle>¿Eres usuario nuevo?</ion-card-subtitle>
          <p>Ingresa tu cuenta de DuocUC y únete a la plataforma de viajes exclusiva de la institución.</p>
          <ion-button [routerLink]="['/registro']">Registrarse</ion-button>

         </div>
        </ion-card-content>
      </ion-card>
  </ion-content>
</div>

<div class="footer">
  <ion-footer class="ion-no-border">
    <ion-toolbar color="primary">
      <ion-button id="open-modal" expand="block">Términos de uso</ion-button>
    </ion-toolbar>
  </ion-footer>
</div>


