.contenido{
    color: aqua;

    
}
.detalles{
    color: white;
    font-size: 20px;
    font-synthesis-style: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenido-card{
    background-color: rgb(24, 152, 226);
    align-items: center;    
}