<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Informacion del Conductor</ion-title>
    <ion-button slot="start" color="secondary">
      <ion-back-button></ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido">
  <ion-card *ngIf="user" class="contenido-card">
    <ion-card-header>
      <ion-card-title>{{ user.name.first }} {{ user.name.last }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="user.picture.large" alt="User Image">
      <div class="detalles">
        <ion-label>Email: {{ user.email }}</ion-label>
        <br>
        <ion-label>Phone: {{ user.phone }}</ion-label>
        <br>
        <ion-label>Pais: {{ user.location.country }}</ion-label>
        <br>
        <ion-label>Ciudad: {{ user.location.city }}</ion-label>
        <br>        
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
