.contenido{
    color: aqua;   
}
.detalles{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-synthesis-style: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenido-card{
    --background: linear-gradient(#3847ee, rgb(63, 141, 180), rgb(106, 147, 168));
    align-items: center;    
}