<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Crear Viaje</ion-title>
    <ion-button slot="start" color="secondary">
      <ion-back-button>Atras</ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="trip && trip.status !== 'Finalizado'">
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-item>
          <ion-label text-wrap>Inicio: {{ trip.start }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Fin: {{ trip.end }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label text-wrap>Precio: {{ trip.price }}</ion-label>
        </ion-item>
        <ion-button (click)="startTrip()">Iniciar Viaje</ion-button>
        <ion-button (click)="endTrip()">Finalizar Viaje</ion-button>
      </div>
      <ion-item>
        <ion-label text-wrap>Estado: {{ trip.status }}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>