<ion-menu  contentId="main-content" >
  <ion-header >
    <ion-toolbar >
      <ion-title>Bienvenido Te Llevo App</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>{{usuario.nombre}}</h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <ion-button [routerLink]="['/auto']">Conducir con Te Llevo</ion-button>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <ion-button [routerLink]="['/noauto']">Viajar con Te Llevo</ion-button>
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <ion-button [routerLink]="['/listaconductores']">Lista Conductores</ion-button>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ion-content>
  <ion-button  (click)="cerrar()" >Cerrar Sesión</ion-button>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header >
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" class="glass-content"> 
    <h1 style="text-align:center" >Bienvenido Estudiante {{ usuario.nombre }}</h1>

    
  <div align="center">
    <img src="assets/img/pnglogo.png" >
  </div>
      
     
  </ion-content>
</div>