

<ion-content [fullscreen]="true" >
  
  <ion-card >
    <ion-card-header>
      <ion-card-title>Registrarse</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input  placeholder="ingrese correo" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input  placeholder="ingrese contraseña" formControlName="contraseña" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repite la contraseña</ion-label>
          <ion-input  formControlName="repitecontraseña" type="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button (click)="guardar()">
        Registrarse
      </ion-button>
      <ion-button expand="block" style="border-style: none;"type="button" (click)="volverLogin()">Volver al login</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
